<!doctype html>
<html>
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38761061-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-38761061-2');
	</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>ぐらあっぷ - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ topdir }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ topdir }}/stylesheets/pygment_trac.css">
    <link rel="shortcut icon" href="{{ topdir }}/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="{{ topdir }}/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="Gura,フリーソフト" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div style="margin:0 auto; width:850px; margin-bottom:.2em">
      <div>
      <a href="{{ topdir }}/index.html"><img src="{{ topdir }}/images/banner-medium.png" alt="Gura Programming Language/" /></a>
      <span style="margin-left:1em; font-weight:bold; color:#8a8">Gura プログラミング言語を使ったフリーソフトを公開</span>
      </div>
      <div>
      <span>
      <img src="{{ topdir }}/images/page_white_go.png" />
      <a href="{{ topdir }}/index.html">トップページ</a>
      </span>
      </div>
    </div>
	<div style="font-size:80%; text-align:center; background:#eeeeee; margin-bottom:2em">
	  <span style="color:#444444; font-weight:bold">ソフトウェアエンジニアをお探しですか?</span>
	  <a href="http://www.gura-lang.org/job-seek.html" style="margin-left:.5em">こちらをチェック</a>
	</div>
    <div style="margin:0 auto; width:800px">
